build*
*.exe
*.bat
*.sh
!memory_usage.sh
*.txt
!meson_options.txt

# subprojects
subprojects/*
!subprojects/gtest.wrap
!subprojects/pcre2.wrap

# coverage report
coverage-report
*.log

# python
*.py
!benchmark.py
python*

# vscode
.vscode
